@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.wrapper {
  display: flex;
  text-align: justify;
  font-size: 16px;
  flex-direction: column;
  height: 80vh;
  @media (min-width: 450px) {
    font-size: 20px;
  }
}

.container1 {
  margin-bottom: 4em;
}

.container2 {
  margin-top: 4em;
}

.row {
  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
    margin-bottom: 6em;
    margin-top: 0px;
  }
}

.h1 {
  margin-bottom: 1em;
}

.verticalDiv1 {
  margin-right: 7em;
  @media (min-width: 450px) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.verticalDiv2 {
  margin-right: 4em;
  @media (min-width: 450px) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.list {
  flex-direction: column;
  text-align: left;
  display: flex;
  @media (min-width: 800px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.listItem {
  min-width: fit-content;
  margin-right: 6em;
  margin-bottom: 2em;
}

.job {
  margin-bottom: 1em;
}

.scroll {
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}
