.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.h1 {
  display: block;
  width: 100%;
}

.gifWrapper {
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gifWrapper:hover {
  opacity: 1;
}

.gif {
  @media (min-width: 450px) {
    max-width: 150%;
  }
}
