@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.grid {
  gap: 15px;
  flex-direction: column;
  font-size: 20px;
  @media (min-width: 800px) {
    column-count: 2;
  }
}

.imgWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.overlayWrapper {
  color: blue;
  background-color: yellow;
  padding: 1em;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.imgWrapper:hover .overlayWrapper {
  opacity: 1;
}

.landscape {
  @media (min-width: 450px) {
    column-span: all;
  }
}

.listItem {
  padding-bottom: 5px;
  @media (min-width: 450px) {
    padding: 0;
  }
}

.scroll {
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.fontSizes {
  font-size: 16px;
  @media (min-width: 800px) {
    font-size: 20px;
  }
}
